[Unit]
Description=Atareao MariaDB Database
Requires=atareao-network.network
After=atareao-network.network

[Container]
Image=docker.io/mariadb:latest
ContainerName=atareao-mariadb
Environment=MYSQL_DATABASE=Suffrage7574
#Environment=MARIADB_AUTO_UPGRADE=1
Environment=MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=yes
Secret=mariadb-db-user,type=env,target=MARIADB_USER
Secret=mariadb-db-password,type=env,target=MARIADB_PASSWORD
#Secret=mariadb-root-password,type=env,target=MARIADB_ROOT_PASSWORD
Volume=mariadb-data.volume:/var/lib/mysql:Z
Network=atareao-network.network

[Service]
Restart=always

[Install]
WantedBy=default.target
