[Unit]
Description=Atareao Mailhog Email Testing
Requires=atareao-network.network
After=atareao-network.network

[Container]
Image=docker.io/mailhog/mailhog:latest
ContainerName=atareao-mailhog
PublishPort=1025:1025
PublishPort=8025:8025
Network=atareao-network.network

[Service]
Restart=always

[Install]
WantedBy=default.target
